body {
    min-height: 100vh;
    background: url('BackgroundHalaman2.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.nav-link:hover {
    color: white;
}

.text-container {
    color: white;
    font-size: larger;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
}

.img-fluid {
    transition: transform 0.3s;
    border: 3px solid black;
}

.img-fluid:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Responsive Handphone */
@media (max-width: 767px) {
    .image-container {
        position: relative;
        width: 55%;
        height: 50vh;
        transform: translateX(80%);
    }

    .TextParagraf2 {
        font-size: large;
    }
}

/* Responsive Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .image-container {
        position: relative;
        width: 65%;
        transform: translateX(50%);
    }
}