.nav-link:hover {
    color: white;
}

p {
    font-size: 75%;
}

/* Media Query Handphone */
@media (max-width: 767px) {
    img {
        width: 60%;
    }
}
  
/* Media Query Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    img {
        width: 40%;
    }
    
    p {
        font-size: 90%;
    }
}
  
/* Media Query Laptop */
@media (min-width: 1024px) {
    img {
        width: 30%;
    }

    p {
        font-size: 110%;
    }
}